html,body
  margin:0
  padding:0
  
body
   background-image: url("../image/6.jpg")
   background-size:cover
   background-position:100%
   font:14px 'microsoft yahei'
   color:#4d4d4d
   font-weight:300