html,body
  margin:0
  padding:0
  
body
   background-image: url("../image/7.jpg")
   background-size:cover
   background-position:center
   font:14px 'microsoft yahei'
   color:#4d4d4d
   font-weight:300